/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
	padding-top: 3.5rem;
}
.jumbotron {
	background-image: url("../img/brooklynbridgepar.jpg");
	background-size: cover;
}
.row {
	padding-top: 10px;
}
.news {
	padding-top: 40px;
}
.text-warning {
	color: #707070 !important;
}
.bg-secondary {
	background-color: #007bff !important;
	border-radius: 5px;
	text-align: center;
	color: white !important;
}

